$fontRegular: 'biennale-regular';
$fontBold: 'biennale-bold';
$fontLight: 'biennale-light';

$corPrimaria: #5E49FF;
$corPrimaria4: #F0F5FF;
$corPrimaria3: #25CBD3;


$cinza: #F4F4F4;
$cinza1: #DADADA;
$cinza3: #4D4C4D;
$cinza2: #7C7786;
$cinza4: #333333;
$branco: #FFF;

$desketopBreakpoint: 992px;